@media (max-width: 991px) {}

@media (max-width: 768px) {
  .login-container {
    display: none;
  }

  .Border {
    display: none;
  }

  .background {
    display: none;
  }

  .blur {
    display: none;
  }

  .responsive-login {
    display: none;
  }

  .responsive-login-lg {
    height: 100vh;
    width: 100%;
    background-color: orangered;
    display: flex;
    justify-content: center;
  }

  .responsive-Logo-lg {
    height: 90px;
    position: absolute;
    top: 10px;
  }

  .responsive-welcome-lg {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 40px;
    text-shadow: 3px 6px 6px rgb(87, 48, 0);
  }

  .resp-input-field {
    position: absolute;
    top: 25%;
    flex-direction: column;
    display: flex;
    gap: 30px;
    padding: 10px;
  }

  .responsive-input-lg {
    height: 55px;
    width: 57vh;
    border: none;
    outline: none;
    border-radius: 24px;
    padding: 10px;
    font-size: 26px;
  }

  .responsive-eye-lg {
    position: absolute;
    top: 77.5%;
    left: 81%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 38px;
  }

  .responsive-signin-lg {
    background: lightblue;
    position: absolute;
    top: 110%;
    height: 8vh;
    left: 14%;
    width: 70%;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 1000;
    color: black;
  }

  .responsive-or-lg {
    position: absolute;
    top: 133%;
    font-size: 27px;
    left: 47%;
    font-weight: 500;
    color: white;
  }

  .sign-with-lg {
    position: absolute;
    top: 154%;
    font-size: 25px;
    left: 37%;
    letter-spacing: 5px;
    font-weight: 500;
    color: white;
  }

  .responsive-icon-lg {
    position: absolute;
    top: 190%;
    left: 25%;
    color: white;
    display: flex;
    gap: 55px;
    font-size: 40px;
    height: 90px;
    width: 50%;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
  }

  .google-lg {
    font-size: 40px;
  }

  .facebook-lg {
    color: rgb(69, 63, 255);
  }

  .tweeter-lg {
    color: rgba(2, 2, 207, 0.759);
  }

  video {
    display: flex;
    object-fit: cover;
    margin-top: 19%;
    height: 37vh;
    display: flex;
  }

  .navigation-lg {
    display: flex;
    z-index: 999;
    position: absolute;
    top: 0%;
  }

  .navigation-1 {
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
  }

  .navigation-2 {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid gray;
    position: absolute;
    background-color: white;
    top: 70px;
  }

  .bar-lg {
    display: flex;
    font-size: 40px;
    position: absolute;
    left: 90%;
    top: 4.5rem;
    z-index: 999;
  }

  .navigation-md {
    display: none;
  }

  .navigation {
    display: none;
  }

  nav a {
    display: none;
  }

  .wrapper-lg {
    height: 100vh;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 9999;
    top: 0%;
    position: fixed;
  }

  .logout-container-lg {
    height: 240px;
    width: 100%;
    background-color: red;
    z-index: 9999;
  }

  .wrapper-lg a {
    display: flex;
    font-size: 32px;
    flex-direction: column;
    gap: 20px;
    padding: 14px;
    border-bottom: 1px solid lightgray;
    z-index: 9999;
  }

  .whatsapp-number-2-lg {
    position: absolute;
    top: 74%;
    font-size: 18px;
    left: 1%;
    z-index: 9999;
    color: greenyellow;
  }

  .chat-on-lg {
    position: absolute;
    top: 87%;
    left: 3%;
    height: 85px;
    width: 27vh;
    background-color: rgb(12, 232, 12);
    outline: none;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 19px;
    z-index: 9999;
  }

  .cancle-lg {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 90%;
    top: 2%;
    z-index: 9999;
    position: fixed;
  }

  .slider {
    display: none;
  }

  .responsive-swiper-lg {
    display: flex;
    margin-top: 10%;
  }

  .responsive-button-1 {
    margin-left: 7.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: none;
    outline: none;
    background: none;
    height: 5rem;
  }

  .responsive-slider-1 {
    height: 90px;
    object-fit: contain;
  }

  .responsive-slider-2 {
    height: 0px;
    object-fit: contain;
  }

  .responsive-slider-3 {
    height: 80px;
    object-fit: contain;
  }

  .slider-5 {
    height: 80px;
    object-fit: contain;
  }

  .responsive-slider-4 {
    height: 80px;
    object-fit: contain;
  }

  .responsive-slider-5 {
    height: 80px;
    object-fit: contain;
  }

  .responsive-slider-6 {
    height: 80px;
    object-fit: contain;
  }

  .responsive-slider-7 {
    height: 89px;
    object-fit: contain;
  }

  .Bmx-container {
    display: none;
  }

  .responsive-Bmw-container-md {
    display: none;
  }

  .responsive-Bmw-container-lg {
    display: flex;
    margin-top: 85%;
    height: auto;
    background: white;
    justify-content: center;
  }

  .responsive-bmx-wrapper-lg {
    /* padding: 10px; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 1s ease;
    row-gap: 1rem;
    column-gap: 6px;
    position: relative;
    width: 95%;
    margin-left: 4%;
    padding-bottom: 3rem;
  }

  .responsive-image-container-lg {
    display: flex;
    position: relative;
  }

  .responsive-Bmw-img-lg {
    height: 30vh;
    width: 35vh;
    object-fit: cover;
    border-radius: 20px;
  }

  .responsive-Bmw-discription-container-lg {
    position: relative;
    top: -58%;
    left: 18%;
    z-index: 999;
    display: flex;
    height: 24px;
    width: 45%;
    text-shadow: 5px 5px 10px black;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.357);
    display: flex;
    opacity: 0;
  }

  .responsive-Bmw-dicription-lg {
    font-size: 16px;
  }

  .responsive-Bmw-btn-container-lg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .responsive-Bmw-btn-lg {
    position: absolute;
    top: -83px;
    left: 8rem;
    height: 33px;
    width: 30%;
    border-radius: 5px;
    border: none;
    outline: none;
    z-index: 9999;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .responsive-bmx-1-lg:hover .responsive-Bmw-discription-container-lg,
  .responsive-bmx-1-lg:hover .responsive-Bmw-btn-container-lg {
    transform: translateY(-10px);
    opacity: 1;
    transition: 2s ease;
  }

  .bmw-vid-container-lg {
    display: flex;
  }

  .bmw-vid-container {
    display: none;
  }

  .cars-container {
    display: none;
  }

  .car-wrapper-lg {
    display: flex;
  }

  .cars-container-lg {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 53rem;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  .car-wrapper-lg {
    background-color: white;
    padding: 5px;
    display: grid;
    width: 98%;
    grid-template-columns: 1fr 1fr;
    transition: 1s ease;
    row-gap: 20px;
    column-gap: 20px;
    margin-left: 2px;
    overflow-x: hidden;
  }

  .popular-cars-lg {
    position: absolute;
    font-size: 32px;
    left: 3%;
    font-weight: 200;
    top: 78%;
    z-index: 999;
  }

  .box-lg {
    position: relative;
    height: auto;
    width: 20rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    margin-left: 2px;
  }

  .img-lg {
    object-fit: cover;
    height: 17rem;
    width: 20rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .detail-lg {
    position: relative;
    left: 27.2%;
    background-color: rgba(255, 68, 0, 0.402);
    color: white;
    border: 1px solid orangered;
    top: -45px;
    left: 70.9%;
    height: 30px;
    cursor: pointer;
  }

  .brand-container-lg {
    height: 5rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-bottom: 1px solid lightgray;
    position: relative;
  }

  .button-container-lg {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    gap: 6px;
    top: 58%;
  }

  .button-container-lg button {
    height: 2rem;
    width: 6rem;
    border-radius: 20px;
    border: none;
    outline: none;
    background: orangered;
    color: white;
    margin-top: -4%;
  }

  .brand-name-lg {
    margin-top: -12px;
  }

  .price-tag-container-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .price-tag-lg {
    display: flex;
    height: 3rem;
    width: 8rem;
    position: absolute;
    left: 43%;
    background: orangered;
    color: white;
    border: 1px solid rgba(252, 80, 17, 0.933);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .price-container-lg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 6rem;
    left: -39%;
    padding: 2px;
  }

  .price-lg {
    position: absolute;
    font-size: 25px;
    left: -10%;
  }

  .template_container {
    height: 20rem;
    width: 100%;
    display: grid;
    top: 36%;
    grid-template-columns: 1fr 1fr;
    column-gap: -500px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .navigation {
    display: none;
  }

  .Border {
    display: none;
  }


  .bmw-vid-container-lg {
    display: none;
  }

  .navigation-3 {
    height: 45px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0%;
    z-index: 9999;
  }

  .navigation-4 {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 2.8rem;
    z-index: 9999;
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.516);
  }

  .slider {
    display: none;
  }

  .bar {
    top: 3.5rem;
    position: absolute;
    font-size: 19px;
    color: black;
    display: flex;
    left: 90%;
    cursor: pointer;
    z-index: 9999;
  }

  .navigation-lg {
    display: none;
  }

  .navigation-md {
    display: flex;
  }

  .wrapper {
    height: 100vh;
    width: 100%;
    background: white;
    position: absolute;
    top: 0%;
    z-index: 9999;
    position: fixed;
  }

  .responsive-acount-info {
    height: 5rem;
    width: 5rem;
    border-radius: 3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
    font-weight: 500;
    margin-left: 2%;
    position: relative;
    top: 5%;
    background-color: whitesmoke;
  }

  .responsive-logout-btn {
    position: fixed;
    height: 3rem;
    width: 6rem;
    top: 38rem;
    font-weight: 600;
    left: 8.5rem;
    color: orangered;
    background-color: red;
    display: flex;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-size: 17px;

  }

  .Border {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid gray;
    z-index: 9999;
  }

  .logout-container {
    height: 150px;
    width: 100%;
    background-color: orangered;
    z-index: 9999;
    z-index: 9999;
  }


  .wrapper .tags {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    gap: 20px;
    padding: 14px;
    border-bottom: 1px solid lightgray;
    z-index: 9999;
  }

  .whatsapp-number-2 {
    position: absolute;
    top: 82%;
    font-size: 18px;
    left: 4%;
    z-index: 9999;
  }

  .chat-on {
    position: absolute;
    top: 73%;
    left: 1rem;
    height: 40px;
    width: 35%;
    background-color: rgb(12, 232, 12);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    z-index: 9999;
  }

  .chat-on-1 {
    top: 2.1rem;
    position: relative;
    display: flex;
  }

  .chat-on:hover {
    background-color: rgb(45, 245, 45);
  }

  .cancle {
    font-size: 19px;
    color: white;
    position: absolute;
    left: 90%;
    top: 3%;
    z-index: 9999;
  }

  video {
    object-fit: cover;
    margin-top: 23%;
    height: 37vh;
    display: flex;
  }

  .login-container {
    display: none;
  }

  .background {
    display: none;
  }

  .blur {
    display: none;
  }

  .responsive-login {
    display: flex;
  }

  .responsive-Logo {
    height: 50px;
    object-fit: contain;
    position: absolute;
    top: 3%;
  }

  .responsive-welcome-container {
    height: 4rem;
    width: 15rem;
    background-color: transparent;
    position: absolute;
    top: 3rem;
    left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .responsive-welcome-container-2 {
    height: 4rem;
    width: 18rem;
    background-color: transparent;
    position: absolute;
    top: 3.2rem;
    left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .responsive-welcome-container-2 p {
    position: absolute;
    top: 3rem;
    font-size: 20px;
  }

  .responsive-welcome-container-1 {
    height: 4rem;
    width: 18rem;
    background-color: transparent;
    position: absolute;
    top: 4.5rem;
    left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .responsive-welcome-container-1 p {
    position: absolute;
    display: flex;
    font-size: 20px;
  }

  .responsive-welcome {
    display: flex;
    color: black;
    font-size: 37px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  .responsive-welcome-1 {
    display: flex;
    color: black;
    font-size: 37px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 10px;
  }

  .resp-input-field {
    height: auto;
    position: fixed;
    top: 23%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background: transparent;
  }

  .resp-input-field input {
    height: 40px;
    padding: 5px;
    width: 18rem;
    color: black;
    font-size: 16px;
    display: flex;
    margin-left: -0rem;
    border: 0.6px solid gray;
    background-color: transparent;
    border-radius: 12px;
    margin-top: -0.5rem;
  }

  .label-1 {
    position: relative;
    top: -0rem;
    left: -7rem;
    font-size: 14px;
    font-weight: 500;
  }

  .responsive-eye {
    position: absolute;
    top: 79%;
    left: 73%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 25px;
  }

  .responsive-signin {
    background: orangered;
    position: absolute;
    top: 111%;
    left: 8%;
    height: 22%;
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
  }

  .responsive-or {
    position: absolute;
    top: 140%;
    z-index: 9999;
    font-size: 18px;
    left: 34%;
    font-weight: 600;
    color: gray;
  }

  .sign-with {
    position: absolute;
    top: 250%;
    font-size: 18px;
    left: 33%;
    letter-spacing: 4px;
    font-weight: 1000;
    color: white;
  }

  .register-link-md {
    position: absolute;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    top: 197%;
    left: 32.5%;
    font-size: 16px;
    width: 100%;
    /* font-weight: 500; */
  }

  .login_link {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    top: 30rem;
    left: 8rem;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: orangered;
  }

  .register_link {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    top: 30rem;
    left: 8rem;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: orangered;
  }

  .register-link-md a {
    color: orangered;
    font-weight: 700;
    text-decoration: none;
  }

  .register-link-md-1 {
    position: absolute;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    top: 100%;
    left: 38%;
    font-size: 21px;
    width: 100%;
    font-weight: 500;
  }

  .register-link-md-1 a {
    color: orangered;
    font-weight: 700;
    text-decoration: none;
  }

  .left-line {
    height: 0.7px;
    width: 25%;
    background: gray;
    position: absolute;
    top: 153%;
    left: 1.5rem;
  }

  .right-line {
    height: 0.7px;
    width: 25%;
    background: gray;
    position: absolute;
    top: 153%;
    left: 15rem;
  }

  .register-container {
    display: none;
  }

  .Login-link {
    display: none;
  }

  .user_name-md {
    display: flex;
    font-size: 17px;
    height: 2.5rem;
    width: 14rem;
    color: white;
    border: 1px solid transparent;
    position: absolute;
    left: 1rem;
    top: 5rem;
    justify-content: center;
    align-items: center;
  }

  .register-background {
    display: none;
  }

  .responsive-register-container {
    background-color: red;
    display: flex;
  }

  .create-text {
    display: flex;
    color: white;
    position: absolute;
    top: 7rem;
    font-size: 25px;
  }

  .register_input_feild_container {
    height: 30rem;
    width: 100%;
    top: 10rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .register-input-feild {
    position: absolute;
    width: 90%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 10px;
  }

  .register-input-feild input {
    padding: 10px;
    width: 17rem;
    height: 30px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;
  }

  .register-input-feild input:focus{
    border: 1px solid orange;
  }

  .register-eye {
    position: absolute;
    top: 16.1rem;
    left: 17.5rem;
    font-size: 23px;
    color: black;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
  }

  .register-btn-md {
    display: flex;
    height: 2.5rem;
    width: 80%;
    left: -8px;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: orangered;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  .responsive-icon {
    position: absolute;
    top: 25rem;
    height: 19.5%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.193);
    justify-content: center;
    align-items: center;
    left: 6%;
    color: white;
    display: flex;
    gap: 25px;
    border-radius: 9px;
    border: 1px solid white;
  }

  .responsive-icon p {
    color: black;
    font-size: 15px;
    font-weight: 100;
  }

  .google {
    font-size: 30px;
    position: relative;
    left: -0rem;
  }

  .facebook {
    color: rgb(69, 63, 255);
    font-size: 30px;
  }

  .tweeter {
    color: rgba(2, 2, 207, 0.759);
    font-size: 30px;
  }

  .responsive-login-lg {
    display: none;
  }

  .responsive-navigation-lg {
    display: none;
  }

  /* .responsive-navigation{
        position: fixed;
    } */

  /* .bar-lg {
        display: none;
    } */

  .footer {
    display: none;
  }

  .responsive-swiper {
    display: flex;
    margin-top: 30rem;
    gap: 32px;
    justify-content: center;
    margin-top: 8%;
    height: 10rem;
    width: 98%;
    align-items: center;
  }

  .brand-text {
    position: absolute;
    color: black;
    margin-top: -5.4rem;
    left: 0rem;
    padding: 10px;
  }

  .responsive-car-swiper {
    padding: 10px;
    overflow-x: auto;
    position: relative;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .respionsive-car-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .car-logo-cont {
    border: 1px solid gray;
    border-radius: 9px;
    height: 4rem;
    width: 6rem;
    background: white;
    padding: 5px;
    margin-top: 3.2rem;
  }


  .responsive-button-1 {
    margin-left: 3.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: none;
    outline: none;
    background: none;
  }

  .responsive-slider-1 {
    height: 48px;
    object-fit: contain;
  }

  .responsive-slider-2 {
    height: 38px;
    object-fit: contain;
  }

  .responsive-slider-3 {
    height: 38px;
    object-fit: contain;
  }

  .responsive-slider-4 {
    height: 40px;
    object-fit: contain;
  }

  .responsive-slider-5 {
    height: 42px;
    object-fit: contain;
  }

  .responsive-slider-6 {
    height: 40px;
    object-fit: contain;
  }

  .responsive-slider-7 {
    height: 40px;
    object-fit: contain;
  }

  .bmw-vid-container {
    display: flex;
    object-fit: contain;
  }

  .BMW-video {
    height: 30vh;
    object-fit: cover;
    margin-top: 26%;
  }

  .Bmx-container {
    display: flex;
  }

  .Bmx-container-lg {
    display: none;
  }

  .BMW-text {
    display: flex;
    font-size: 30px;
    left: 30%;
  }

  .responsive-Bmw-container-md {
    display: flex;
    height: auto;
    width: 95%;
    padding: 6px;
    background: white;
    margin-top: 90%;
    justify-content: center;
    /* align-items: center; */
  }

  .responsive-bmx-wrapper-md {
    display: grid;
    /* padding: 5px; */
    grid-template-columns: 1fr;
    transition: 1s ease;
    row-gap: 10px;
    column-gap: 10px;
    position: relative;
    width: 95%;
  }

  .responsive-bmx-1-md {
    position: relative;
  }

  .responsive-image-container-md {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive-Bmw-img-md {
    object-fit: cover;
    display: flex;
    height: 32vh;
    width: 45vh;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    cursor: pointer;
    margin-top: 10%;
  }

  .responsive-Bmw-discription-container-md {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 999;
    display: flex;
    font-size: 20px;
    height: 30px;
    width: 50%;
    text-shadow: 5px 5px 10px black;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.357);
    opacity: 0;
  }

  .responsive-Bmw-dicription-md {
    font-size: 22px;
  }

  .responsive-Bmw-btn-container-md {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .responsive-Bmw-btn-md {
    position: absolute;
    top: -50px;
    left: 10rem;
    height: 43px;
    width: 40%;
    border-radius: 5px;
    border: none;
    outline: none;
    z-index: 9999;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }

  .responsive-option-md {
    display: flex;
    height: 50px;
    width: 30%;
    left: 40%;
    position: relative;
  }

  .responsive-bmx-1-md:hover .responsive-Bmw-discription-container-md,
  .responsive-bmx-1-md:hover:hover .responsive-Bmw-btn-container-md {
    transform: translateY(-10px);
    opacity: 1;
    transition: 2s ease;
  }

  .responsive-swiper-lg {
    display: none;
  }

  .Bmx-container {
    display: none;
  }

  .responsive-Bmw-container-lg {
    display: none;
  }

  .car-wrapper {
    display: none;
  }

  .mescedis-popup {
    display: none;
  }

  .cars-container-md {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 38rem;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  .car-wrapper-md {
    background-color: white;
    padding: 25px;
    display: grid;
    width: 98%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    transition: 1s ease;
    row-gap: 20px;
    column-gap: 20px;
    margin-left: 2px;
    overflow-x: hidden;
  }

  .popular-cars-md {
    position: absolute;
    font-size: 18px;
    top: -3%;
    z-index: 999;
  }

  .box-md {
    position: relative;
    height: auto;
    width: 20rem;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    margin-left: 2px;
  }

  .img-md {
    object-fit: cover;
    height: 17rem;
    width: 20rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .detail-md {
    position: relative;
    left: 27.2%;
    background-color: rgba(255, 68, 0, 0.402);
    color: white;
    border: 1px solid orangered;
    top: -45px;
    left: 70.9%;
    height: 30px;
    cursor: pointer;
  }

  .brand-container-md {
    height: 5rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-bottom: 1px solid lightgray;
    position: relative;
  }

  .button-container-md {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    gap: 6px;
    top: 58%;
  }

  .button-container-md button {
    height: 2rem;
    width: 6rem;
    border-radius: 20px;
    border: none;
    outline: none;
    background: orangered;
    color: white;
    margin-top: -4%;
  }

  .brand-name-md {
    margin-top: -12px;
  }

  .price-tag-container-md {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .price-tag-md {
    display: flex;
    height: 3rem;
    width: 8rem;
    position: absolute;
    left: 43%;
    background: orangered;
    color: white;
    border: 1px solid rgba(252, 80, 17, 0.933);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .price-container-md {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 6rem;
    left: -39%;
    padding: 2px;
  }

  .price-md {
    position: absolute;
    font-size: 25px;
    left: -10%;
  }

  .car-wrapper-lg {
    display: none;
  }

  .icon-container {
    height: 4rem;
    display: grid;
    margin-left: -2rem;
    width: 10rem;
    margin: 8px;
  }

  .car-cover {
    display: none;
  }

  .car-cover_responsive {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.316);
    backdrop-filter: blur(8px);
    z-index: 999;
    justify-content: center;
    align-items: center;
    top: 5%;
  }

  .car-cover_responsive .responsive-car-popup {
    height: 35rem;
    width: 24rem;
    display: grid;
    background: #fff;
    position: absolute;
    overflow-y: scroll;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.557);
    overflow-y: scroll;
    flex-direction: column;
    top: 10rem;
  }

  .responsive-cancle-button {
    position: absolute;
    top: 1rem;
    background-color: white;
    height: 3.4rem;
    width: 3rem;
    z-index: 9999;
    left: 19.8rem;
    outline: none;
    border: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 36px;
    /* cursor: pointer; */
  }

  .cancle-btn {
    display: flex;
  }

  .responsive-info {
    display: flex;
    height: 3rem;
    left: 2rem;
    top: 4rem;
    z-index: 9999;
    width: 20rem;
    color: #fff;
    margin: 15px 0px;
    font-size: 20px;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .responsive-info-container {
    height: auto;
    width: auto;
    position: absolute;
    top: -2rem;
    z-index: 9999;
  }

  .responsive-main-slider {
    height: 27rem;
    width: 22rem;
    background: transparent;
    margin-top: -2rem;
    margin-left: 2rem;
    box-shadow: 0px 6px 6px rgba(54, 15, 0, 0.338);
    margin: 10px 15px;
  }

  .responsive-main-slider img {
    object-fit: cover;
    height: 20rem;
  }

  .carousel .thumbs {
    margin-left: -14%;
    margin-top: -1rem;
  }

  .responsive-car-details {
    top: 30rem;
    width: 80%;
    height: 10rem;
    display: flex;
    margin-left: 2.6rem;
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.226);
    justify-content: center;
    overflow-y: auto;
    /* border-top: 1px solid black; */
  }

  .responsive-car-details h1 {
    position: absolute;
    left: 3%;
    top: -6%;
  }

  .responsive-texts {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    position: relative;
    left: -40%;
  }

  .responsive-car-spec {
    top: 43rem;
    width: 80%;
    height: 10rem;
    display: flex;
    margin-left: 2.6rem;
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.226);
    justify-content: center;
  }

  .template_container {
    height: 20rem;
    width: 100%;
    display: grid;
    top: 36%;
    grid-template-columns: 1fr;
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .template h3 {
    display: flex;
    font-size: 18px;
    color: black;
    margin-top: 28rem;
    font-weight: 400;
  }

  .searchInput_container {
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
  }

  .searchInput_container input {
    width: 80%;
    height: 25px;
    position: relative;
    font-size: 16px;
  }

  .template {
    height: 30rem;
    width: 23rem;
    background-color: white;
    margin-left: 2.5rem;
    justify-content: center;
    display: flex;
    margin: 80px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
  }

  .car_links-container {
    display: none;
  }

  .responsive_car_links_container {
    display: flex;
    height: 20rem;
    width: 98%;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 870rem;
    overflow-x: auto;
    padding: auto;

  }

  .responsive_car_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    column-gap: 25px;
    width: 100%;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  .responsive-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 8rem;
    position: relative;
    left: 17rem;
    top: 3rem;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .responsive_more_brand {
    position: absolute;
    color: black;
    top: -0rem;
    left: 0;
    padding: 6px;
  }

  .responsive-footer-md {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 19rem;
    width: 100%;
    position: absolute;
    top: 890rem;
    z-index: 999;
    background: black;

  }

  .responsive-copywrite-cont {
    position: absolute;
    width: 88%;
    display: flex;
    color: #fff;
    display: flex;
    left: 2.5rem;
    top: 16rem;
  }


  .responsive-copywrite {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 1rem;
    border-right: 1px solid white;
    padding: 5px;
    font-size: 13px;
  }

  .responsive-copywrite-2 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 1rem;
    padding: 5px;
    font-size: 13px;
  }

  .resp-follow-container {
    display: flex;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    padding: 5px;
    top: 12rem;
    position: absolute;
  }

  .resp-follow-icon {
    display: flex;
    color: white;
    position: absolute;
    gap: 17px;
    font-size: 18px;
  }


  .responsive-footer-links {
    margin-top: -6rem;
    margin-left: 10px;
    display: grid;
    gap: 10px;
    font-size: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .responsive-footer-links a {
    text-decoration: none;
    color: #fff;
  }

  .responsive-footer-links a:hover {
    color: orangered;
  }

  .responsive-icon-2:hover {
    color: orangered;
  }


  .responsive-a {
    margin-left: 12px;
  }




}